header {
    text-align: center;
}
.index {
    color: black;
}
.catalog {
    color: black;
}
.about {
    color: black;
}
.contact {
    color: black;
}
div {
    text-align: center;
    font-size: 20px;
    
}
img {
    border-radius: 12px;
    border: 3px solid lime;
}
h1 {
    font-size: 40px;
}
.quru {
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.paragraph {
    color: white;
}
input {
    border-radius: 25px;
    border-color: lime
}
.paragraph2 {
    color: white;
}
h3 {
    color: white;
    font-size: 30px;
}