#Main {
    background-color: lime;
    font-size: 15px;
}
#contactme {
    background-color: lime;
    font-size: 15px;
}
h1 {
    text-align: center;
    font-size: 50px;
    color: lime;
}
body {
    background-color: black;
}
input {
    border: 3px solid lime;
    border-radius: 10px;
    font-size: 15px;
}

button {
    background-color: lime;
    font-size: 15px;
}
form {
    text-align: center;
    
}
nav {
    text-align: center;
}


