<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bikes</title>
    <link rel="icon" href="images/download (1).jpg">
    <style>
        body {
            background-color: white
        }
    </style>
</head>
<body>
    <button><a href="service.html">Service</a></button>
    <button><a href="contact.html">Contact</a></button>
    <h1>Bikes shop</h1><hr>
    <h2>1.Sport bike</h2>
    <img src="images/download (1).jpg" alt="error">
    <ol>
        <li>30kg</li>
        <li>Fast</li>
        <li>So big</li>
    </ol>
    <b><p>price:300$</p></b> 
    <button>Buy</button>
    <h2>2.Sport bike</h2>
    <img src="images/download (2).jpg" alt="error">
    <ol>
        <li>25kg</li>
        <li>Very fast</li>
        <li>Big</li>
    </ol>
    <b><p>price:350$</p></b> 
    <button>Buy</button>
    <h2>3.Sport bike</h2>
    <img src="images/download.jpg" alt="error">
    <ol>
        <li>30Kg</li>
        <li>Fast</li>
        <li>big</li>
    </ol>
    <b><p>price:250$</p></b> 
    <button>Buy</button>


</body>
</html>