.container {
  margin: 0 auto;
  width: 1242px;
  display: flex;
}

.logo {
  width: 33px;
  height: 42px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 758px;
}

ul > li {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}

a {
  color: #636060;
  text-decoration: none;
}

div > img {
  width: 1440px;
  height: 606px;
}

div > h2 {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

div > h3 {
  color: #010101;
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

div > p {
  color: #636060;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 235px;
}

.s1 {
    margin-top: 84px;
}

.flexbox {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 80px;
  width: 1022px;
}


.flexh2 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.flexp {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 286px;
}

.fleximage {
  width: 286px;
  height: 195px;
}

.discovery {
    width: 235px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 25px;
}

.responsive-container-block.bigContainer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
}

.text-blk.headingText {
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  color: rgb(0, 135, 177);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.allText {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 50%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.text-blk.subHeadingText {
  color: rgb(102, 102, 102);
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.text-blk.description {
  font-size: 18px;
  line-height: 28px;
  color: rgb(153, 153, 153);
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
}

.explore {
  font-size: 18px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  background-color: rgb(146, 152, 244);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-color: rgb(146, 152, 244);
  border-right-color: rgb(146, 152, 244);
  border-bottom-color: rgb(146, 152, 244);
  border-left-color: rgb(146, 152, 244);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  cursor: pointer;
  box-shadow: rgb(146, 152, 244) 0px 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 9px;
  padding-right: 45px;
  padding-bottom: 9px;
  padding-left: 45px;
}

.explore:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  /* background-repeat-x: initial;
  background-repeat-y: initial; */
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 235, 234);
  color: rgb(146, 152, 244);
}

.responsive-container-block.Container {
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  max-width: 1320px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.responsive-container-block.Container.bottomContainer {
  flex-direction: row;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.allText.aboveText {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
}

.allText.bottomText {
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.mainVideo {
  width: 85%;
  height: 450px;
  margin-top: -30px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.videoContainer {
  width: 46%;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.mainVideo {
  z-index: 10;
}

.dotsImg {
  position: absolute;
  width: 80%;
  height: 600px;
  top: 0px;
  right: 0px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .responsive-container-block.Container {
    max-width: 850px;
  }

  .text-blk.description {
    font-size: 18px;
  }

  .allText {
    width: 40%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .text-blk.subHeadingText {
    font-size: 30px;
  }

  .responsive-container-block.Container.bottomContainer {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .responsive-container-block.Container {
    max-width: 830px;
  }

  .allText.aboveText {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
  }

  .allText.bottomText {
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .allText.bottomText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .responsive-container-block.Container.bottomContainer {
    flex-direction: column;
  }

  .text-blk.headingText {
    text-align: center;
    font-size: 22px;
  }

  .text-blk.subHeadingText {
    text-align: center;
  }

  .text-blk.description {
    text-align: center;
  }

  .explore {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }

  #inc0s {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }

  .dotsImg {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .videoContainer {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .mainVideo {
    width: 100%;
  }

  .allText.bottomText {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }

  .text-blk.description {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .text-blk.headingText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .text-blk.subHeadingText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .mainVideo {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .allText {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .responsive-container-block.Container {
    flex-direction: column;
    height: auto;
  }

  .text-blk.headingText {
    text-align: center;
  }

  .text-blk.subHeadingText {
    text-align: center;
    font-size: 28px;
    line-height: 38px;
  }

  .text-blk.description {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
  }

  .allText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .allText.aboveText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.Container {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .responsive-container-block.Container.bottomContainer {
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
  }

  .allText.bottomText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .allText.bottomText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }

  .mainVideo {
    height: 400px;
  }

  .videoContainer {
    height: 550px;
  }

  .explore {
    font-size: 16px;
    padding-top: 8px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-left: 40px;
  }

  .responsive-container-block.bigContainer {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
  }
}

@media (max-width: 500px) {
  .responsive-container-block.Container {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    width: 100%;
    max-width: 100%;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
  }

  .allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .explore {
    font-size: 16px;
    line-height: 25px;
    padding: 8px 35px 8px 35px;
  }

  .dotsImg {
    width: 80%;
    height: 100%;
  }

  .mainVideo {
    height: 260px;
  }

  .videoContainer {
    height: 320px;
  }

  .responsive-container-block.Container.bottomContainer {
    padding: 0 0 0 0;
  }

  .text-blk.description {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 30px 0;
  }

  .text-blk.subHeadingText {
    font-size: 24px;
  }
}

.contact h3{
    font-size: 20px;
    display: flex;
    margin-left: 450px;
}
.contact input{
  font-size: 18px;
  border-radius: 50px;
  border: 3px solid skyblue;
  display: flex;
  margin-left: 400px;
  margin-bottom: -10px;
}
.contact {
  margin-top: 100px;
}
.info {
  border: 3px solid skyblue;
  margin-left: 730px;
  border-radius: 50px;
  width: 320px;
}
.info p {
  margin-left: 25px;
}
h3 {
  margin-left: 810px;
  font-size: 20px;
}
nav :hover {
  color: red;
}
form :hover {
  color: black;
  background-color: skyblue;
}
